* {
    box-sizing: border-box;
}


/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */


/* FONTS */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'eurofurence';
    src: url('../fonts/eurof55.woff');
}


/* HELPERS */

.container {
    max-width: 1320px;
    margin: 0px auto;
    padding-left: 2%;
}


/* flex */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.flex-flow-row {
    flex-flow: row wrap;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.flex-direct-row {
    flex-direction: row;
}

.flex.flex-direct-col {
    flex-direction: column;
}


/* lists */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* SCREEN */

.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .8s;
    z-index: 1;
}


/* BASE */

html {
    color: #606060;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
}

body {
    margin: 0;
}

h2 {
    margin: 0;
    line-height: 1;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 30px;
    color: #4f4e4e;
    max-width: 90%;
    letter-spacing: 0.84px;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    margin-inline-end: 40px;
    object-fit: cover;
    /* height: 100%; */
}

button {
    outline: none;
    cursor: pointer;
}

.btn-menu {
    display: none;
    background-color: #292929;
    color: white;
    border: none;
    font-size: 2rem;
}


/* HEADER */

.main-header {
    box-shadow: inset 0 -6px 0 #1e1e1e;
    background-color: #292929;
}

.logo {
    color: #ffffff;
    font-family: eurofurence, sans-serif;
    font-size: 40px;
    font-weight: 400;
    flex-grow: 2;
}

.B {
    letter-spacing: -0.8px;
}

.dote {
    color: #58c93a;
    letter-spacing: -0.8px;
}

.main-nav {
    width: 1320px;
}

.main-nav div {
    min-width: 20%;
}

.menu>* {
    width: 130px;
    height: 130px;
    justify-content: center;
    border-left: 1px solid #1d1d1d;
    color: #ffffff;
    text-shadow: 0 1px 0 #1e1e1e;
    font-weight: 700;
    cursor: pointer;
}

.menu>*:hover {
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
    color: #58c93a;
}

.menu:last-child {
    border-right: 1px solid #1d1d1d;
}

.J,
.A,
.W,
.C {
    letter-spacing: 0.8px;
}


/* MAIN  */

.articles-container {
    border: 1px solid #e1e0e0;
    border-top: none;
    padding-top: 5%;
}

.article {
    margin-bottom: 5%;
}

.article-preview p {
    max-width: 95%;
}

.article-preview>button {
    align-self: flex-start;
    height: 40px;
    border: 0.125em solid #c2c2c2;
    background-color: #ffffff;
    border-radius: 5em;
    color: #c2c1c1;
    font-weight: 700;
    line-height: 2.5em;
    letter-spacing: 0.48px;
    font-size: 16px;
    font-family: Lato, sans-serif;
    transition: padding .3s, color .6s, border-color .6s;
    position: relative;
    padding: 0 1.6em;
    cursor: pointer;
}

.article-preview>button::after {
    content: "";
    opacity: 0;
    transform: translateY(-20px);
    transition: transform .6s, opacity .8s;
}

.article-preview>button:hover {
    border: 2px solid #58c93a;
    background-color: #ffffff;
    color: #58c93a;
    padding-inline-end: 3em;
}

.article-preview>button:hover::after {
    content: '\2192';
    position: absolute;
    right: 1.25em;
    bottom: -0.3em;
    opacity: 1;
    transform: translateY(0);
}


/* NAVIGATION  */

.navigation {
    border: 1px solid #e1e0e0;
    border-top: none;
}

.navigation>a {
    font-size: 18px;
    font-weight: 700;
    color: #818181;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding: 3%;
}


/* FOOTER  */

.main-footer {
    background-color: #f8f8f8;
}

.footer-container {
    padding: 5%;
    text-align: center;
}

.footer-container p {
    color: #a6a6a6;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.39px;
}

.pixel {
    color: #939292;
    font-weight: 700;
}

.footer-container>:not(:last-child) {
    margin-block-end: 4%;
}

footer .logo {
    color: #292929;
}

.social-nav>* {
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: 20px;
    font-size: 14px;
}

.social-nav>:first-child:hover {
    background-color: #516fad;
    cursor: pointer;
}

.social-nav>:nth-child(2):hover {
    background-color: rgba(29, 161, 242, 1.00);
    cursor: pointer;
}

.social-nav>:nth-child(3):hover {
    background-color: #191919;
    cursor: pointer;
}

.social-nav>:nth-child(4):hover {
    background-color: #ea4c89;
    cursor: pointer;
}


/* ONLY MOBILE */

@media (max-width: 740px) {
    .article {
        flex-direction: column;
    }
    img {
        margin: 0;
        margin-block-end: 1rem;
    }
    h2 {
        margin-block-end: 1%;
    }
    .menu {
        background-color: #292929;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        transform: translateX(100%);
        transition: transform .8s, box-shadow .3s;
        z-index: 2;
    }
    .menu>* {
        border-bottom: 1px solid #1d1d1d;
        border-left: none;
    }
    .menu:last-child {
        border-right: none;
    }
    .menu-open .menu {
        transform: translateX(0);
        box-shadow: -6px 0px 14px rgba(0, 0, 0, 0.2);
    }
    .menu-open .screen {
        visibility: visible;
        opacity: 1;
    }
    .btn-menu {
        display: block;
    }
    .main-header{
        padding: 2.5%;
    }
}

@media (max-width: 1060px) {
    h2 {
        max-width: 100%;
    }
    .article-preview p {
        max-width: 100%;
    }
    .container {
        padding-right: 2%;
    }
    .main-nav {
        padding-right: 0;
    }
}